<div class="cards">
    <div class="image" style="height: 7px; width: 7px;">
        <img src="static/roti.jpg">

    </div>
    <div class="title">
        <h1>Payments-Details</h1>
    </div>

    <div class="des">
        <ul>
            <label></label>
            <a href="/payments">
                <button type="submit" >Insert-Offline-Payments</button>
            </a></br>
            <label></label>
            <a href="/seepayments">
                <button type="submit">View Payments</button>
            </a>
            </ul>
    </div>
   </div>

   <div class="cards">
    <div class="image" style="height: 7px; width: 7px;">
        <img src="static/roti.jpg">

    </div>
    <div class="title">
        <h1>Expences   -  </h1>
       
    </div>

    <div class="des">
        <ul>
            <label></label>
            <a href="/expences">
                <button type="submit" >Expences</button>
            </a></br>
            <label></label>
            </ul>
    </div>
   </div> 